<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/master.html">
<head>
    <meta charset="UTF-8">
    <title>Product Lists</title>
</head>
<body>
    <div layout:fragment="master">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Last Updated</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pro:${products}">
                    <th><img th:src="@{'../img/products/'+${pro.name}+'.png'}" alt=""></th>
                    <td th:text="${pro.name}"></td>
                    <td th:text="${pro.price}+' $'"></td>
                    <td th:text="${pro.description}"></td>
                    <td th:text="${pro.lastUpdated}"></td>
                    <td th:text="${pro.category.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>